body {
	background: url('../images/pattern_036.gif');
	}

section {
	background: #fff;
	display: block;
	margin: 150px auto;
	-moz-box-shadow: 0 0 10px #888;
	-webkit-box-shadow: 0 0 10px #888;
	box-shadow: 0 0 10px #888;
	overflow: hidden;
	width: 370px;
	padding: 30px;
	}

#magiclogin-container {
	border: 1px solid #ccc;
	display: inline-block;
	padding: 0 0 0 10px;
	margin: 0;
	border-radius: 5px;
	-moz-border-radius: 5px;
	}

#magiclogin-container label {
	display: block;
	padding-bottom: 5px;
	font: 10px/1 Verdana;
	}

#magiclogin-container input {
	font: 12px/1 Monospace;
	outline: none;
	border: none;
	text-align: left;
	border: none;
	padding: 0;
	margin: 5px 0;
	color: #ccc;
	}

#magiclogin-container input:focus {
	color: #000;
	}

#magiclogin-container #username {
	padding-left: 0;
	}

#magiclogin-container .submit {
	background: #333;
	font: 14px/1 Verdana;
	padding: 10px;
	margin: -1px;
	border-radius: 0 5px 5px 0;
	-moz-border-radius: 0 5px 5px 0;
	}